.tic-tac-toe-board {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.tic-tac-toe-square {
  font-size: 4em;
  flex: 0 0 99px;
  text-align: center;
  background-color: palegoldenrod;
  border: 1px solid rosybrown;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tic-tac-toe-board-title,
.tic-tac-toe-board-status {
  text-align: center;
  width: 300px;
}
